.root {
  -fx-background-color: #d7d7d7;
}
.button {
  -fx-font-weight: bold;
}
.cancel-button {
  -fx-color: #c4c4c4;
}
#not-connected {
  -fx-text-fill: #7e7777;
  -fx-color: #c4c4c4;
}
#print-button,
#confirm-button {
  -fx-color: #7eb9ef;
}
.save-button {
  -fx-color: #09ee04;
}
.bold-text {
  -fx-font-weight: bold;
}
